@model MvcMovie.Models.MovieStreamingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Find Streaming Service</h1>

<form asp-controller="MovieStreaming" asp-action="Index" method="get">
    <p>

        <select id="movie-searcher" asp-for="Movie" asp-items="Model.Movies" class="selectpicker" data_live_search="true">
            <option value="">All Movies</option>
        </select>
        
        <select asp-for="CountryCode" asp-items="Model.CountryCodes">
            <option value="">All Country Codes</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<div class="row">   
    @foreach (var item in Model.Streams!) {
        @if(@item!=null && @item.StreamingService!=null){
            <a class="streaming-logo-a" href="http://localhost:5073/StreamingServices/Details/@item.StreamingService.Id"><img class="streaming-logo" src="@item.StreamingService.LogoImage" alt="@item.StreamingService.Name"/></a>
        }
    }
</div>