@model MvcMovie.Models.MovieStreamingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="MovieStreaming" asp-action="Index" method="get">
    <p>

        <select id="movie-searcher" asp-for="Movie" asp-items="Model.Movies">
            <option value="">All Movies</option>
        </select>
        
        <select asp-for="CountryCode" asp-items="Model.CountryCodes">
            <option value="">All Country Codes</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<div class="row">      
    @foreach (var item in Model.Streams!) {
            <div class="col">
                <a href="http://localhost:5073/StreamingServices/Details/@item.StreamingService.Id"><img src="@item.StreamingService.LogoImage" alt="@item.StreamingService.Name"/></a>
            </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#movie-searcher").chosen();
        });
    </script>
}