@model MvcMovie.Models.Star

@{
    ViewData["Title"] = "Details";
    var actorName=ViewData["actorName"].ToString();
    var movieName=ViewData["movieName"].ToString();
}

<h1>Details</h1>

<div>
    <h4>Star</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => movieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => actorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
